.armedClashes,
.countElements {
  width: 100%;
  background: var(--text-back);
  font-size: 3rem;
  border: none;
  border-radius: 45px;
  text-align: center;
  padding: 20px;
  font-weight: 400;
}

.countElements {
  background: color-mix(in srgb, var(--text-back) 20%, transparent);
}