.list {
  width: 100%;
  background: color-mix(in srgb, var(--text-back) 20%, transparent);
  border: none;
  border-radius: 45px;
  padding: 20px;
  list-style-type: none;
  font-size: 1.25rem;
}

.armedClashes,
.countElements {
  width: 100%;
  background: var(--text-back);
  font-size: 3rem;
  border: none;
  border-radius: 45px;
  text-align: center;
  padding: 20px;
  font-weight: 400;
}

.countElements {
  background: color-mix(in srgb, var(--text-back) 20%, transparent);
}

.findWarInput {
  width: 100%;
  background: var(--input);
  border: none;
  border-radius: 45px;
  padding: 20px;
  font-size: 1.5rem;
}

.addWarInput,
.addWarYearsInput {
  width: 100%;
  background: var(--input);
  border: none;
  border-radius: 45px;
  padding: 20px;
  font-size: 1.5rem;
}