.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--text-back);
  font-size: 3rem;
  padding: 20px;
  border: none;
  border-radius: 45px;
  width: 100%;
}

.buttons {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
}