.themeButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 15px;
  transition: transform 0.3s ease;
  will-change: transform;
  transform: translateZ(0);
  z-index: 1000;
  background: none;
}

.themeButton:hover {
  transform: scale(0.9) translateZ(0);
}

.themeButton svg {
  backface-visibility: hidden;
  width: 70px;
  height: 70px;
}

#themeToggle .sunIcon {
  display: none !important;
}

#themeToggle .moonIcon {
  display: block !important;
}

html[data-theme='dark'] #themeToggle .sunIcon {
  display: block !important;
}

html[data-theme='dark'] #themeToggle .moonIcon {
  display: none !important;
}